<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shooting game</title>
    <link rel="stylesheet" href="/styleg1.css">
    <script src="/scriptg1.js"></script>
</head>
<body onload = "loaded()">
    <canvas id="canvas1"></canvas>
    <canvas id="collisionCanvas"></canvas>
</body>
</html>