<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js 2D dog game</title>
    <link rel="stylesheet" href="/styleg2.css">
</head>
<body>
    <canvas id="canvas1"></canvas>
    <img id="playerImage" src="player.png">
    <img id="backgroundImage" src="background_single.png">
    <img id="enemyImage" src="Walk5.png">
    <button id="fullscreenButton">Toggle Full Screen</button>
    <script src="/scriptg2.js"></script>
</body>
</html>